#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Analysis Section */
.analysis-section {
  height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Headers */
.analysis-section h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

.analysis-section h3 {
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Recommendations */
.recommendations {
  width: 60%;
  text-align: left;
}

.high-priority h4 {
  color: red;
  font-size: 1.5rem;
  margin-top: 20px;
}

.medium-priority h4 {
  color: orange;
  font-size: 1.5rem;
  margin-top: 20px;
}

/* Back to Home Button */
.home-btn {
  margin-top: 30px;
  padding: 12px 20px;
  font-size: 1.2rem;
  color: white;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.home-btn:hover {
  background: rgba(255, 255, 255, 0.4);
}
