/* Global Scroll Styles */
html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}

/* Section Scrolling */
.scroll-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Homepage Styling */
.homepage {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Background LYNX Images */
.lynx-bg {
  position: absolute;
  width: 90%;
  opacity: 0.15;
}

.lynx1 {
  top: -10%;
  left: 10%;
}

.lynx2 {
  top: 40%;
  left: 10%;
}

.lynx3 {
  top: 70%;
  left: 15%;
}

/* Metallic Scribble */
.metallic {
  position: absolute;
  top: 0%;
  left: 5%;
  width: 500px;
}

/* Text Styling */
.homepage-text {
  text-align: center;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  z-index: 10;
}
/* Lynx Icon */
.lynx-icon {
  transform: scale(1);
  position: absolute;
  right: 0%;
  bottom: 5%;
  width: 200px;
}



.get-started-btn {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  padding: 12px 20px;
  font-size: 1rem;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 20px;
}

.get-started-btn:hover {
  background: rgba(255, 255, 255, 0.3);
}